<div class="page home">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">
          <img class="svg" src="assets/svg/file.svg" alt="">
          <span> Todo list App</span>
        </h2>
      </div>
      <div class="col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width" style="width:60% ">
            <input matInput placeholder="Yapılacak Yeni Madde Ekle" #newTodo>
          </mat-form-field>
          <button (click)="addTodo(newTodo)" mat-raised-button color="primary" type="button"
            style="margin-left: 12px">Ekle</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <mat-card class="d-flex">
          <div class="example-container">
            <h5>Bekleyenler</h5>

            <div cdkDropList #pendingslist="cdkDropList" [cdkDropListData]="data.pendings"
              [cdkDropListConnectedTo]="[progresslist]" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                <img class="svg" src="assets/svg/clock.svg" alt="">
                {{item}}
              </div>
            </div>
          </div>

          <div class="example-container">
            <h5>Yapım Aşamasında</h5>

            <div cdkDropList #progresslist="cdkDropList" [cdkDropListData]="data.inProgress"
              [cdkDropListConnectedTo]="[pendingslist,donelist]" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                <img class="svg" src="assets/svg/hourglass.svg" alt="">
                {{item}}
              </div>
            </div>
          </div>
          <div class="example-container">
            <h5>Tamamlananlar</h5>

            <div cdkDropList #donelist="cdkDropList" [cdkDropListData]="data.done" [cdkDropListConnectedTo]="[progresslist]"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                <img class="svg" src="assets/svg/like.svg" alt="">
                {{item}}
              </div>
            </div>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-2 ">
      <small>Copyright 2019 Oğuz Can Erten</small>
      

    </div>
  </div>
</div>
